body{
    background-color: #302E2B;
    margin:0;
    color: white;
    margin-left: 10px;
}
.WhiteSpace{
    background-color: beige;
}
.BlackSpace{
    background-color: #739552;
}
.Dot{
    background-color: #444444;
}
.Piece{
    width: 100px;
    height: 100px;
    font-size: 70px;

    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    overflow: hidden;
}
.Piece.BlackPiece{
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.WhiteSpace.Highlight{
    background-color: yellowgreen;
}
.BlackSpace.Highlight{
    background-color: yellowgreen;
}
.Table{
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}
.cornerText{
    position: absolute;
    font-size: 25px;
    font-family: "Segoe UI";
    font-weight: 600;
    background-color: #00000000;
}
.cornerText.TopLeft{
    margin-top: 2px;
    margin-left: 5px;
}
.cornerText.BottomRight{
    margin-top: 70px;
    margin-left: 83px;
}
.cornerText.WhiteSpace{
    color: #739552;
}
.cornerText.BlackSpace{
    color: beige;
}

.popUp {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.2);

    z-index: 9999; /* forces it above everything */
}

.popUp-content {
    width: 600px;
    height: 140px;

    background: white;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    gap: 15px;
}

.popUpPiece {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #eee;
    border-radius: 8px;
    cursor: pointer;
    font-size: 80px;
}

.popUpPiece:hover {
    background: #dcdcdc;
}
.LoadingBar{
    width: 300px;
}
.AiWaitTime{
    height: 10px;
    width: 40px;
}
.ChangeSide{
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}
.fen{
    width: 400px;
    height: 30px;
    margin-left: 5px;

}
