body{
    background-color: dimgrey;

}
.White{
    background-color: bisque;
}
.Black{
    background-color: darkolivegreen;
}
.Cell{
    width: 100px;
    height: 100px;
    font-size: 70px;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.Cell-BlackPiece{
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.BlackPiece{
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.White-HighLight{
    background-color: aqua;
}
.Black-Highlight{
    background-color: aqua;
}
.Table{
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}